{#
# Add product
#}

{% extends 'base.html.twig' %}

{% block title %}Add Ad{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="add-product">
        <h1 class="add-product__title">Add advertisement</h1>
        <div class="product-form">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}