@import '~bootstrap/scss/bootstrap';
@import 'variables.scss';

body {
  background: $main-color-gray;
  margin: 0;
  font-size: $font-size-default;
  a {
    color: $main-color-dark;
    text-decoration: unset;
    &:hover {
      color: $main-color-gray;
    }
    &.inverse {
      color: $main-color-gray;
      &:hover {
        color: $main-color-dark;
      }
    }
  }
}

.container {
  margin-top: $gutter-medium;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $gutter-default;
  justify-content: space-around;
  background: $main-color-green;
  padding: $gutter-medium $gutter-big;
  min-height: 100px;
  &__site-name {
    font-size: $font-size-medium;
  }
  &__user {
    &_unauthorized {
      display: grid;
      grid-auto-flow: column;
      gap: $gutter-default;
    }
  }
}

.pagination {
  margin-top: $gutter-medium;
  justify-content: center;
  span {
    padding: $gutter-small $gutter-default;
    margin: $gutter-small;
    &:not(.current) {
      background: $main-color-green;
      border-radius: $border-radius;
    }
  }
}

.items-not-found {
  font-size: $font-size-medium;
  font-weight: 400;
  margin-top: $gutter-medium;
}

.search_form {
  display: flex;
  button.search {
    margin-left: $gutter-medium;
  }
}

.sort-box {
  margin-top: $gutter-medium;
  &__title {
    font-size: $font-size-medium;
    font-weight: bold;
  }
  &__items {
    display: flex;
    gap: $gutter-default;
    flex-wrap: wrap;
    a {
      &:hover {
        color: $main-color-dark;
      }
      &.asc,
      &.desc {
        text-decoration: underline;
      }
    }
  }
}

.products-list {
  margin-top: $gutter-medium;
  display: grid;
  gap: $gutter-medium;
  .product-item {
    border: $border-width solid $main-color-dark-gray;
    border-radius: $border-radius;
    padding: $gutter-default;
    text-align: center;
    display: grid;
    gap: $gutter-default;
    &__image {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    &__name {
      font-size: $font-size-medium;
    }
    &__buttons {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      align-content: end;
      gap: $gutter-default;
    }
    &__status {
      &_0 {
        color: $main-color-product-status-pending;
      }
      &_1 {
        color: $main-color-product-status-approved;
      }
      &_2 {
        color: $main-color-product-status-cancelled;
      }
    }
  }
}

.product-form {
  &__uploaded-image {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      opacity: .7
    }
    div.remove {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@include media-breakpoint-up(md) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-form {
    &__uploaded-image {
      width: 35%;
    }
  }
}

@include media-breakpoint-up(xl) {
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
