@import '~bootstrap/scss/bootstrap';
@import 'variables.scss';

body {
  background: $main-color-gray;
  margin: 0;
  font-size: $font-size-default;
}

a {
  color: $main-color-dark;
  &:hover {
    color: $main-color-dark;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $main-color-green;
  padding: $gutter-medium $gutter-big;
  min-height: 100px;
  &__site-name {
    font-size: $font-size-medium;
    color: $main-color-gray;
  }
  &__user {
    &_unauthorized {
      display: grid;
      grid-auto-flow: column;
      a {
        color: $main-color-gray;
      }
      gap: $gutter-default;
    }
  }
}
