@import '~bootstrap/scss/bootstrap';

.product-form {
  &__uploaded-image {
    width: 100%;
    position: relative;
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      opacity: .7
    }
    div.remove {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@include media-breakpoint-up(md) {
  .product-form {
    &__uploaded-image {
      width: 35%;
    }
  }
}