$main-color-green: #4ECDC4;
$main-color-dark-gray: #939393;
$main-color-gray: #EEEEEE;
$main-color-dark: #000000;
$gutter-big: 30px;
$gutter-medium: 20px;
$gutter-default: 10px;
$gutter-small: 5px;
$font-size-medium: 24px;
$font-size-default: 16px;
$border-radius: 10px;
$border-width: 2px;